{
    "presets": [
        [
            "@babel/preset-env",
            {
            "targets": {
                "node": 4
            },
            "corejs": "3.1.4",
            "useBuiltIns": "usage"
            }
        ]
    ],
    "plugins": [
        "add-module-exports"
    ]
}
