{
    "semi": false,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "all",
    "printWidth": 120,
    "arrowParens": "avoid",
    "overrides": [
        {
            "files": "*.tsx",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
